@tailwind base;
@tailwind components;
@tailwind utilities;
.song-card {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 700);
    background-color: #ffffff78;
    transition: all 0.2s ease;
  }
  
  .song-card:hover {
    transform: scale(1.02); 
  }
  
  .song-card img {
    width: auto;
    height: 100px;
    border-radius: 50%;
    object-fit: cover; 
    margin-right: 1rem;
  }
  
  .song-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .song-card p {
    font-size: 14px;
    color: #777;
  }
  .contact-email {
    color: blue;
    text-decoration: underline;
  }